/* Body */
body {
    padding: 0;
    margin: 0;
    
    font-family: 'Fira Sans', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    text-align: center;
}

/* Articles */
article {
    padding: 1em 1em 0 1em;
    margin-top: 1em;
    

    min-height: 150px;
    max-width: 1152px;
    
    border-style: solid;
    border-radius: 15px;
    
    /* if width < 1280px */
    margin-left: 6%;
    margin-right: 6%;
}

.flex {
    /* align-self: center;
    align-items: center; */
    align-content: center;
    text-align: center;
    
    display: flex;
    align-items: center;
    padding: 2rem 1rem;
    width: 100%;
    
    /* if width < 1280px */
    margin-left: 6%;
    margin-right: 6%;
}

.flex .section-content {
    display: inline-block;
    
    border-style: solid;
    border-radius: 1rem;
    border-width: 1px;
    border-color: black;

    max-width: 300px;
    min-height: 150px;
    
    padding: 1em;
    margin: .5rem 2rem;
}

.flex .section-content span {
    max-width: 200px;
}

/* Sections */
section {
    margin: 20px 0px;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

/* Links */
a {
    color: #0da3ff;
}

a:link {
    text-decoration: none;
}

/* Buttons (made of links) */
.button {
    border-color: black;
    background-color: #3f60dd;
    color: #ffffff;
}

/* "Button" hover */
a:hover.button {
    background-color: #456aff;
}

/* Lists */
ul.outer-list {
    margin: 5px 0px;
    font-size: 90%;
}

/* Footers */
footer {
    text-align: center;
    padding: 1em;
    display: flex;
    justify-content: center;
}

footer a img {
    /* if width < 400px */
    width: 3em;
    height: 3em;
    padding: 1em;
}

/* Featured game videos */
.game-video {
    min-width: 200px;
    height: 113px;
    width: auto;
}

/* Featured game Itch.io frames */
.itch-io-frame {
    width: 75%;
    min-width: 200px;
    max-width: 500px;
    
    height: 50px;
}

/* content positioning - centered */
.centered {
    text-align: center;
}

/* Buttons (made of links) */
.button {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    
    padding: 10px;
    border: solid 1px;
    border-radius: 10px;
    
    transition: background-color .25s;
    
    /* if width < 400px */
    margin-left: 0px;
    margin-right: 0px;
}

/* if width > 400px */
@media screen and (min-width: 400px) {
    .itch-io-frame {
        min-width: 321px;
        height: 175px;
    }
    
    .game-video {
        width: 320px;
        height: 180px;
    }
    
    .button {
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* if width > 600px */
@media screen and (min-width: 600px) {
    .game-video {
        width: 400px;
        height: 225px;
    }
}

/* if width > 800px */
@media screen and (min-width: 800px) {
    article, .flex {
        padding-left: 2%;
        padding-right: 2%;
    }

    .game-video {
        width: 480px;
        height: 270px;
    }

    .flex .section {
        margin: .5rem 1em;
    }
}

/* if width > 1280px */
@media screen and (min-width: 1280px) {
    h1 {
        font-size: 3.5em;
    }

    article, .flex {
        margin-left: auto;
        margin-right: auto;
        font-size: 1.125em;
    }

    .game-video {
        width: 640px;
        height: 360px;
    }

    .itch-io-frame {
        width: 500px;
        height: 175px;
    }
}
