/* Body */
body {
    padding: 0;
    margin: 0;
    background-color: #0a0f22;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f0f0f0;
}

/* Articles */
article {
    padding: 0 1em 1em 1em;
    margin-top: 20px;
    margin-bottom: 20px;
    
    min-width: 240px;
    max-width: 1152px;
    
    border-style: solid;
    border-color: black;
    border-radius: 15px;

    background-color: #182146;
    
    /* if width < 1280px */
    margin-left: 5%;
    margin-right: 5%;
}

/* Sections */
section {
    margin: 20px 0px;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: 20px;
    
    text-align: center;
}

/* Links */
a {
    color: #0da3ff;
}

a:link {
    text-decoration: none;
}

/* Lists */
ul.outer-list {
    margin: 5px 0px;
    font-size: 90%;
}

/* Footers */
footer {
    text-align: center;
}

footer a {
    padding: 20px 10px;
}

footer a img {
    /* if width < 400px */
    width: 3em;
    height: 3em;
}

/* Featured game videos */
.game-video {
    width: 240px;
    height: 135px;
}

/* Featured game Itch.io frames */
.itch-io-frame {
    width: 75%;
    min-width: 240px;
    max-width: 500px;
    
    height: 50px;
}

/* content positioning - centered */
.centered {
    text-align: center;
}

/* Buttons (made of links) */
.button {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    
    padding: 10px;
    border: solid 1px black;
    border-radius: 10px;
    
    background-color: #3f60dd;
    
    color: #ffffff;
    transition: background-color .25s;
    
    /* if width < 400px */
    margin-left: 0px;
    margin-right: 0px;
}

/* "Button" hover */
a:hover.button {
    background-color: #456aff;
}

/* if width > 400px */
@media screen and (min-width: 400px) {
    .itch-io-frame {
        min-width: 321px;
        height: 175px;
    }
    
    .game-video {
        width: 320px;
        height: 180px;
    }
    
    .button {
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* if width > 600px */
@media screen and (min-width: 600px) {
    .game-video {
        width: 400px;
        height: 225px;
    }
}

/* if width > 800px */
@media screen and (min-width: 800px) {
    article {
        padding-left: 2%;
        padding-right: 2%;
    }

    .game-video {
        width: 480px;
        height: 270px;
    }
}

/* if width > 1280px */
@media screen and (min-width: 1280px) {
    h1 {
        font-size: 3.5em;
    }

    article {
        margin-left: auto;
        margin-right: auto;
        font-size: 1.125em;
    }

    .game-video {
        width: 640px;
        height: 360px;
    }

    .itch-io-frame {
        width: 500px;
        height: 175px;
    }
}
