/* Header content */
.header {
    background-position: center;
    background-blend-mode: overlay;
    background-image: url("../images/fastj_sampler.png");
    
    width: 100%;
    height: 540px;
    
    /* Makes sure the text is centered in the correct location */
    position: relative;
    
    /* Just a normal text align */
    text-align: center;
}

.headertext {
    display: inline-block;
    
    text-shadow: 2px 2px 1px black;
    font-weight: bold;
    align-content: left;
    
    /* Centers the text somehow */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /* if width < 360px */
    font-size: 2em;
}

/* The "Get Started" button in the header. */
.headertext a.button {
    padding: 10px 20px;
    text-shadow: none;
    
    font-weight: normal;
    font-size: .5em;
}

/* Homepage Animation */
.home {
    animation: fadein .85s;
    animation-timing-function: ease-out;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* if width > 360px */
@media screen and (min-width: 360px) {
    .headertext {
        font-size: 2.5em;
    }
}

/* if width > 400px */
@media screen and (min-width: 400px) {
    .headertext {
        font-size: 2.75em;
    }
}
