body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #f0f0f0;
    
    padding: 0;
    margin: 0;    
    background-color: #0a0f22;
}

article {
    padding: 25px 50px;
    margin: 5px 0px;
    
    min-width: 300px;
    max-width: 1000px;
    
    border-style: solid;
    border-color: black;
    border-radius: 15px;

    background-color: #182146;
    
    /* used if width is more than 1280px */
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1280px) {
   article {
        /* used if width is less than 1280px */
        margin-left: 5%;
        margin-right: 5%;
   } 
}

h2 {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 15px;
}

/* Footer */
footer {
    padding: 25px 0px 20px 0px;
}

footer a {
    padding: 0px 5px 5px 5px;
}

/* Links */
a {
/*    color: #2b68ff;*/
    color: #0da3ff;
}

a:link {
    text-decoration: none;
}
    
/* Videos & Itch.io Frames */
.game-video {
    width: 400px;
    height: 225px;
}

.itch-io-frame {
    width: 400px;
    height: 160px;
}

/* Header content */
.header {
    background-position: center;
    background-blend-mode: overlay;
    background-image: url("../images/fastj_sampler.png");
    
    width: 100%;
    height: 540px;
    
    /* Makes sure the text is centered in the correct location */
    position: relative;
    
    /* Just a normal text align */
    text-align: center;
}

.headertext {
    font-size: 64px;
    font-weight: bold;
    
    /* Centers the text somehow */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 1px black;
}

/* content positioning */
.centered-content {
    text-align: center;
}

.left-content {
    text-align: left;
}

@media screen and (max-width: 640px) {
    article {
        /* used if width is less than 640px */
        margin-left: 5%;
        margin-right: 5%;

        font-size: 14px;
    }
    
    .game-video {
        width: 330px;
        height: 186px;
    }
    
    .itch-io-frame {
        width: 330px;
        height: 160px;
    }

    .headertext {
        font-size: 56px;
    }
}