/*
 * CSS for the top navigation bar.
 */

.nav {
    background-color: black;
}

.navhome {
    background-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));
}

.nav, .navhome {
    overflow: hidden;
}

.nav a, .navhome a {
    transition: background-color .375s;
    border-radius: .4em;
    
    color: white;
    font-weight: 400;
    
    float: left;
    
    /* width < 360px */
    font-size: .65em;
    
    /* width < 400px */
    padding: .6em .25em;
    margin: .35em .1em;
}

.nav-right {
    float: right;
}

.nav a.active {
    background-color: #0055aa !important;
}

.nav a:hover, .navhome a:hover {
    background-color: #2f2f2f;
}

@media screen and (min-width: 300px) {
    .nav a, .navhome a {
        padding: .6em .37em;
        margin: .35em .15em;
    }
}

/* width > 360px */
@media screen and (min-width: 360px) {
    .nav a, .navhome a {
        font-size: .7em;
    }
}

/* width > 400px */
@media screen and (min-width: 400px) {
    .nav a, .navhome a {
        padding: .6em .37em;
        margin: .35em .225em;
        
        font-size: .8em;
    }
}

/* width > 600px */
@media screen and (min-width: 600px) {
    .nav a, .navhome a {
        padding: .62em .4em;
        margin: .5em .4em;
        
        font-size: 1.125em;
    }
}

/* width > 900px */
@media screen and (min-width: 900px) {
    .nav a, .navhome a {
        padding: .62em .75em;
        margin: .5em .5em;
        
        font-size: 1.35em;
    }
}
