/*
 * CSS for the top navigation bar.
 */

.nav {
    background-color: black;
}

.navhome {
    background-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));
}

.nav, .navhome {
    overflow: hidden;
}

.nav a, .navhome a {
    float: left;
    
    color: white;
    font-weight: 400;
    
    border-radius: 10px;
    transition: background-color .25s;
    
    /* width < 400px */
    padding: .62em .37em;
    margin: .25em .25em;
    
    font-size: .75em;
}

.nav-right {
    float: right;
}

.nav a.active {
    background-color: #0055aa !important;
}

.nav a:hover, .navhome a:hover {
    background-color: #1f1f1f;
}

/* width > 400px */
@media screen and (min-width: 400px) {
    .nav a, .navhome a {
        padding: .62em .37em;
        margin: .3em .25em;
        
        font-size: .825em;
    }
}

/* width > 600px */
@media screen and (min-width: 600px) {
    .nav a, .navhome a {
        padding: .62em .4em;
        margin: .5em .5em;
        
        font-size: 1.125em;
    }
}

/* width > 900px */
@media screen and (min-width: 900px) {
    .nav a, .navhome a {
        padding: .62em .75em;
        margin: .5em .5em;
        
        font-size: 1.35em;
    }
}
